* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
}

#main {
    min-width: 559px;
    height: 1200px;
    background-image: url(../images/htc_bg.png);
    background-size: cover;
    z-index: 1;
    /* left: 50%; */
    /* position: absolute; */
    /* transform: translate(-50%, 10px); */
    box-sizing: border-box;

}

.bg {
    width: 100%;
    height: 1000vh;
    background-color: #fff;
    z-index: 2;
}


#site {
    width: 529px;
    height: 940px;
    background-color: #E5E5E5;
    position: relative;
    top: 130px;
    left: 15px;
}

.flex-box {
    display: flex;
}

.flex_box {
    overflow: hidden;
    height: 650px;
}

.flex-box__wrap {
    display: flex;
    flex-wrap: wrap;
}

.info_screen {

}

.info_screen__img {
    padding-top: 132px;
    left: 50%;
    transform: translate(-50%, 10px);
    position: relative;
    display: inline-block;
}

.info_screen h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding-top: 71px;
    color: #2F3676;
}

.info_screen p {
    padding-top: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    max-width: 313px;
    margin: 0 auto;

    color: #2F3676;
}

.info__final_screen h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding-top: 71px;
    color: #2F3676;
}

.info__final_screen p {
    padding-top: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    max-width: 313px;
    margin: 0 auto;

    color: #2F3676;
}

.info_text {
    width: 100%;
}

.main_cabinet {
    display: none;
}
.main_cabinet .top {
    position: absolute;
    left: 0;
    width: 100%;
    height: 329px;
    z-index: -1;
    background: linear-gradient(252.19deg, #42ECD8 14.64%, #B4D4FF 136.99%);
}

.cabinet_panel {
    z-index: 3;
}

.cabiner_events_slider {
    z-index: 2;
    max-width: 528px;
    display: flex;
    overflow: hidden;
}

.main_cabinet h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding-top: 71px;
    color: #2F3676;
}

.button_continue {
    width: 221px;
    height: 42px;
    background: linear-gradient(279.44deg, #7DE4EB 5.22%, #8A65EB 123.92%);
    box-shadow: 2px 2px 20px rgba(154, 154, 154, 0.1);
    border-radius: 22px;
    transform: rotate(180deg);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.button_continue:hover {
    color: #fff3cc;
    -webkit-box-shadow: -1px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.start_screen {
    display: none;
    padding-top: 70px;
    margin: 0 auto;
    /*display: inline-block;*/
    width: 529px;
    text-align: center;
    background: linear-gradient(166.62deg, #7BF2E9 -2.46%, #8A64EB 97.24%);
    border-radius: 0px;
    height: 872px;


}

.you_integestings {
    display: none;
    background-color: #fff;
    height: 100%;
    padding-top: 50px;
}

.you_integestings .image {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.you_integestings .first {
    margin-top: 70px;
}

.you_integestings h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #2F3676;
}

.green_h2 {
    background: linear-gradient(107.42deg, #1BC8FF -1.88%, #1BFF3F 98.79%);
    box-shadow: 4px 4px 10px rgba(16, 16, 16, 0.1);
    border-radius: 13px;
    width: 346px;
    /* height: 48px; */
    padding-top: 10px;
    margin: 0 auto;
    height: 39px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    /* text-transform: uppercase; */
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 10px;
}

.orange_h2 {
    background: linear-gradient(107.42deg, #FFCF1B -1.88%, #FF881B 98.79%);
    box-shadow: 4px 4px 10px rgba(16, 16, 16, 0.1);
    border-radius: 13px;
    width: 346px;
    /* height: 48px; */
    padding-top: 10px;
    margin: 0 auto;
    height: 39px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    /* text-transform: uppercase; */
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 10px;
}

.green_interestings, .orange_interestings {
    margin-top: 50px;
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.green_interestings > .green, .green_interestings > .blue  {
    display: flex;
    margin-bottom: 10px;
}

.green_interestings span {
    width: 140px;
    height: 32px;
    display: inline-block;
}

.green, .blue {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: lowercase;

    color: #0DBBD2;
}

.green > span, .blue > span{
    padding-left: 5px;
}

.green {
    color: #42D81D;
}

.main_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 39px;
    padding: 10px;
    color: #000;
    top: 127px;
    text-align: center;
}

.proffesions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;

}

.prof_block {
    background-image: url("../images/bg.svg");
    width: 210px;
    height: 290px;
    background-size: cover;
    position: relative;
}

.prof_block:hover  {
    background-color: #d7d7e42e;
}

.prof_block_h2 {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 127.3%;
    /* identical to box height, or 23px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 30px;
}

.prof_block .more {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 13px;
    /* identical to box height */

    text-align: center;
    text-transform: lowercase;

    color: #487FC1;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.prof_block .more:hover {
    color: #336fc2;
}


.prof_block_image {
    width: 56px;
    height: 57px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    margin-top: 43px;
}

.prof_modal {
    display: none;
    position: absolute;
    width: 408px;
    height: 800px;
    background-image: url(../images/full_bg.svg);
    background-size: cover;
    left: 10px;
    top: 90px;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 1;
}

.prof_modal p {
    margin-top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
    color: #1d1d1d;
    margin-bottom: 10px;
}

.prof_modal span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 23px;
    text-transform: capitalize;

    color: #FFFFFF;
}

.close_modal {
    position: absolute;
    bottom: 30px;
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;

    color: #828282;
    left: 50%;
    transform: translate(-50%,0);

}

.you_maybi_like {
    display: none;
    padding-top: 100px;
}

.you_maybi_like h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #2F3676;
}

.main_text_1{
    top: 100px;
}

.start_screen_bg_image {
    padding-top: 132px;
    left: 50%;
    transform: translate(-50%, 10px);
    position: absolute;
    display: inline-block;
    z-index: 1;
}

.lc {
    display: none;
}

.lc_top {
    height: 77px;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
}

.lc_top svg {
    width: 50px;
    height: 50px;
    padding-right: 30px;
    padding-top: 14px;
}

.lc_me {
    width: 97%;
    height: 300px;
    background-image: url(../images/lc_bg.svg);
    background-size: cover;
    border-radius: 25px;
    margin: 0 auto;
}

.lc_me h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    padding-top: 20px;
}

.lc_me_img {
    margin: 0 auto;
    position: relative;
    /* left: 50%; */
    /* transform: translate(-50%, 0); */
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.lc {
    background: #F7F7F7;
}

.lc .selectors {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-bottom: 43px;
}

.lc .selectors span {
    padding: 13px 10px;
    border: 1px solid #fff;
    border-radius: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 15px;
    text-transform: lowercase;
    color: #FFFFFF;
}

.lc .selectors span:hover {
    cursor: pointer;
    color: #000;
    border-color: #000;
}


.lc_me_img svg {
    border: 1px solid #fff;
    border-radius: 50%;
}

.my_stats {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.stats_block {
    margin-top: 22px;
    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(136, 125, 235, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.stat_name {
    background: linear-gradient(252.19deg, #42ECD8 14.64%, #B4D4FF 136.99%);
    border-radius: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 44px;
    width: 60%;
    text-transform: lowercase;
    height: 45px;
    color: #FFFFFF;
    text-align: center;
}

.stats_name_gradient_1 {
    background: linear-gradient(166.62deg, #B65EBA -2.46%, #2E8DE1 97.24%);
}

.stats_name_gradient_2 {
    background: linear-gradient(107.42deg, #FFCF1B -1.88%, #FF881B 98.79%);
}

.stats_name_gradient_3 {
    background: linear-gradient(279.44deg, #7DE4EB 5.22%, #8A65EB 123.92%);
}

.stat_points {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 40px;
    text-align: center;
    width: 40%;
    text-transform: lowercase;
    height: 45px;
    color: #A9B8EF;
}

.my_activiti {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.my_activiti>span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    text-transform: lowercase;
    color: #6666FF;
    text-align: center;
}

.activity_points {
    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(136, 125, 235, 0.2);
    border-radius: 36px;
    padding: 10px;
    position: relative;
    top: -10px;
}

.activity_points > span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-transform: lowercase;

    /* ССС */

    color: #2E8DE1;
}

.my_progress {
    width: 90%;
    margin: 0 auto;
    margin-top: 1px;
}

.my_progress h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 21px;
    text-align: center;
    color: #2F3676;
    margin-bottom: 20px;
}

.progress_blocks {
    display: flex;
    justify-content: space-between;
}

.progress_block {
    background-image: url("../images/vertical_bg.svg");
    background-size: cover;
    height: 76px;
    width: 140px;
    display: flex;
    align-items: center;
}

.progress_block p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: lowercase;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;

}

.menu {
    background: #fff;
    display: flex;
    height: auto;
    width: 529px;
    position: relative;
    left: -8px;
    bottom: -8px;
}

.menu_block {
    width: 110px;
    height: 56px;
    display: flex;
    margin-right: 10px;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sub_text {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 11px;
    color: #2F3676;
    /* top: 40px; */
    color: #fff;
    bottom: 90px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 10px);
}

.help_text {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* top: 40px; */
    color: #fff;
    bottom: 113px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 10px);
}

.need_more {
    position: relative;
    top: 50px;
    font-size: 20px;
    font-weight: 600;
}

.button_thee {
    width: 100%;
    bottom: -60px;
    position: relative;
    transition: none;
    transform: none;
    left: 0;
    top: unset;
}

.screen_one {
    flex-direction: column;
    padding-top: 100px;
}

.screen_one  .screen_one_submit {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 66px;
    background-color: #28d645;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.screen_two .element {
    cursor: pointer;
    width: 367px;
    height: 28px;
    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(136, 125, 235, 0.2);
    border-radius: 22px;
    z-index: 5;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 27px;
    text-align: center;
    color: #2F3676;
    position: relative;
    margin: 0 auto;
    padding: 10px 55px;
    margin-top: 30px;
}


.left_bg {
    position: absolute;
    width: 72px;
    height: 100%;
    left: -50px;
    top: 98px;

    background: radial-gradient(50% 50% at 50% 50%, #FF7F7F 0%, rgba(203, 188, 188, 0.119054) 73.51%, rgba(196, 196, 196, 0) 100%);
}

.right_bg {
    position: absolute;
    width: 72px;
    height: 100%;
    left: unset;
    right: -50px;
    top: 98px;
    background: radial-gradient(50% 50% at 50% 50%, #7FFFD1 0%, rgba(203, 188, 188, 0.119054) 73.51%, rgba(196, 196, 196, 0) 100%);
}

.screen_one_submit:hover {
    background-color: #32a545;
    transition-delay: 0.3s;
}
.screen_one_submit:disabled {
    background: #6b6b6b;
    color: #cacaca;
}
.button_continue:disabled {
    background: #6b6b6b;
    color: #cacaca;
}

.screen_one label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 27px;
    text-align: center;

    color: #2F3676;
    padding: 24px 0px;
    border: 1px solid;
    width: 100%;
    /* overflow: hidden; */
    background: #fff;
}


.info__final_screen {
    display: none;
}



/* radio */
.form_radio_btn {
    display: inline-block;
    margin-right: 2px;
    padding-top: 40px;
    z-index: 2;
}
.form_radio_btn input[type=radio] {
    display: none;
}
.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    width: 307px;
    height: 30px;

    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(136, 125, 235, 0.2);
    border-radius: 22px;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
    background: #ffe0a6;
    color: #000;
}

/* Hover */
.form_radio_btn label:hover {
    color: #613c3f;
}

/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}
